<html>
  <head>
    <title>Little Hoots</title>
  </head>
  <body>
    <header>
      <style type="text/css">
        h1, body {
          font-family: 'Avenir Next', sans-serif;
        }

        .footer{
          background: #eee;
          margin-top: 20px;
          padding: 15px;
        }

        h3, h4{
          text-align: center;
          font-weight: 300;
        }

        .btn{
          color: #ffffff;
          background-color: #222;
          border-color: #000000;
          padding: 15px;
          display: inline-block;
          text-decoration: none;
          font-size: 14px;
        }

        .table-data{
          width: 100%;
        }

        .table-data td, .table-data th{
          text-align: center;
          padding: 10px 2px;
          background: #f5f5f5;
        }

        .table-data th{
          background: #2f2f2f;
          color: #fff;
        }

        .table-data tr{
          border-bottom: 1px solid #ccc;
        }
      </style>
      <hr style="border:none;border-top:1px solid #ccc;margin:10px 0;">
      <a href="http://<%= appHost %>">
        <img src="http://ui.littlehoots.chapora.ccigoa:8282/assets/images/logo-mobile.png" style="width:10%;margin:0 20px;">
      </a>
      <hr style="border:none;border-top:1px solid #ccc;margin:10px 0;">
    </header>

    <div style="margin:30px 0;">
      <h3>Hi <strong><%= name.first %> <%= name.last %> !</strong></h3>
      <h3>You are receiving this mail to reset your password.</h3>
      <h3>In order to reset your password click on the button below.</h3>
      <h3>Ignore this mail if you have not sent this request.</h3>
      <div style="text-align:center;">
        <a href="<%= appHost %>resetPassword/<%= token %>" class="btn">
          Reset My Password
        </a>
      </div>
    </div>

    <div class="footer">
      <h4 style="color:#666">Stay in touch with us - help@littlehoots.com</h4>
    </div>
  </body>
</html>
