
@using GridMvc.Html
@model IEnumerable<Grid.Models.Client>
 
@{
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}

@if (Session["LoggedUserId"] != null)
{
    <text>
      <h1>  Welcome  @Session["LoggedFname"].ToString() @Session["LoggedLname"].ToString() !</h1>
    </text>
    
    
    @Html.ActionLink("LogOut", "LogOff", "Account");
   
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <title>Index</title>
</head>
<body>
    <h1>Grid.MVC</h1>
    <hr />
    <div style="width:500px;">
        @Html.Grid(Model).Columns(columns => 
                    {
                        columns.Add(c => c.Id).Titled("Client ID");
                        columns.Add(c => c.Name).Titled("Name").Filterable(true);
                        columns.Add(c => c.Email).Titled("Email");
                    }).WithPaging(3).Sortable(true)
    </div>
</body>
</html>